.head{
    background-color: rgb(24, 18, 10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
}
.logo{
    height: 5rem;
    cursor: pointer;
}
.menu{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.menu li{
    cursor: pointer;
}
.menu1{
    display: flex;
    gap: 2rem;
    align-items: center;
    gap: 10rem;
}